.mat-header-cell, .mat-cell {
  white-space: normal!important;
  word-wrap: break-word!important;
  word-break:break-all!important;
}

.mat-column-total-number-of-features {
  width: 15% !important;
  flex: 0 0 15% !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: gray!important;
}


